header{
    background-color: aquamarine;
}
nav{
 background-color: antiquewhite;   
}
article{
    background-color: aqua;
}
aside{
    background-color: aliceblue;
}
footer{
    background-color: blue;
    color:beige;
}
