header{
    background-color:blue;
}
nav{
 background-color: antiquewhite;   
}
article{
    background-color: aqua;
}
aside{
    background-color: aliceblue;
}
footer{
    background-color: black;
    color:beige;
}
