header{
    background-color:blue;
    padding: 20px;
}
nav{
 background-color: antiquewhite;  
 padding: 10px; ;
}
section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
article{
    background-color: aqua;
    padding: 40px;
    grid-column: 1/3;
}
aside{
    background-color: aliceblue;
    padding: 40px;
    grid-column: 3/5;
}
footer{
    background-color: black;
    color:beige;
    padding: 20px;
}
